{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Calculator</title>
  </head>
  <body class=""  style="background:  #776a52;  "> 




   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top " >
       <a class="navbar-brand" href="#"><strong >Classy Calculator</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>

    </ul>
  </div>
</nav>


   <div class="container-fluid" style="margin-bottom: 3rem ;" >

     <div class="row">
        <div class="col-md-6" style="margin: 6rem auto 0 auto ;">

            <img  class="container-fluid px-0 " src=" {% static 'App/img/cal.jpg' %}" style="">

          <div class="card">
            <div class="card-body">
              <form method="GET" action="{% url 'submit' %}">
                    <div class="form-group">
                      <input type="search" class="form-control" name="query" id="query">
                    </div>



                   <div class="row">

           <div class="col-md-6" style="margin: 0 auto;" >
            {% if error %}

           <div style="text-align:center;" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong >Type properly!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
      
</div>
</div>



                   <div class="row">
           <div class="col-md-6" style="margin: 0 auto;" >

             {% else %}

                <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{ ans }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

</div>
</div>



                       <div class="row">

           <div class="col-md-6" style="margin: 0 auto;" >

                {% endif %}




                  <div class="row ">

                      <div class="col-6 text-right ">

                  <input type="submit" class="btn btn-success   ">

                       </div>

                      <div class="col-6 ">

                  <input type="reset" class="btn btn-danger ">


                      </div>

                  </div>

              </form>

         </div>
       </div>
      </div>
   </div>




       <div class="row" >
       <div class="col-md-6" style="margin: 4rem auto 0 auto ">

           <p class="display-4" id="about" style="text-align:center; "  >

               About 

           </p>
           <hr>

           <p class="lead" style="text-align:center;color: rgb(240, 240, 245);" >

               Our calculator app can be perform all mathematical operation
               <hr>
              </p>



              <ul class="list-group ">
                <li class="list-group-item">+  Addition </li>
                <li class="list-group-item">-  Substraction</li>
                <li class="list-group-item">*  Multiplication</li>
                <li class="list-group-item">/   Division</li>
                           <li class="list-group-item">/ /  Floor  Division</li>
                <li class="list-group-item">(  ) Parenthesis </li>
                              <li class="list-group-item">%   Mod</li>
              </ul>  
            
   </div>
    </div>



    <div class="container-fluid ">
      <div class="row">

       <footer class="fixed-bottom pt-4 " style="background:#e4e4eb ;">

       </footer>

          </div>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>